USE [master]
GO
/****** Object:  Database [TEST]    Script Date: 12-12-2020 19:30:41 ******/
CREATE DATABASE [TEST]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TEST', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TEST.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TEST_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TEST_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TEST].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TEST]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 12-12-2020 19:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Log](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Thread] [varchar](255) NOT NULL,
	[Level] [varchar](50) NOT NULL,
	[Logger] [varchar](255) NOT NULL,
	[Message] [varchar](4000) NOT NULL,
	[Exception] [varchar](2000) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12-12-2020 19:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Age] [int] NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[PassportImage] [nvarchar](50) NULL,
	[DateOfJoining] [date] NULL,
	[Phone] [nchar](10) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Log] ON 

INSERT [dbo].[Log] ([Id], [Date], [Thread], [Level], [Logger], [Message], [Exception]) VALUES (1, CAST(N'2020-12-12 19:17:31.573' AS DateTime), N'5', N'ERROR', N'FinalAssignment.Controllers.UsersController', N'Attempted to divide by zero.', N'')
INSERT [dbo].[Log] ([Id], [Date], [Thread], [Level], [Logger], [Message], [Exception]) VALUES (2, CAST(N'2020-12-12 19:20:06.777' AS DateTime), N'7', N'ERROR', N'FinalAssignment.Controllers.UsersController', N'Attempted to divide by zero.', N'System.DivideByZeroException: Attempted to divide by zero.
   at FinalAssignment.Controllers.UsersController.Create(UserMetaData MyUser) in C:\Users\ASUS\source\repos\FinalAssignment\FinalAssignment\Controllers\UsersController.cs:line 61')
SET IDENTITY_INSERT [dbo].[Log] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Age], [FirstName], [LastName], [Email], [Password], [PassportImage], [DateOfJoining], [Phone]) VALUES (1, 12, N'aaaaa', N'bbbbb', N'abcd@gmail.com', N'47EzcCA5tK', N'~/Uploaded_Files/20201212-dd.png', CAST(N'2000-12-12' AS Date), N'1234567891')
INSERT [dbo].[Users] ([UserID], [Age], [FirstName], [LastName], [Email], [Password], [PassportImage], [DateOfJoining], [Phone]) VALUES (2, 12, N'fdfdfdfdfd', N'bbbbb', N'abcd@gmail.com', N'47EzcCA5tK', N'~/Uploaded_Files/20201212-dd.png', CAST(N'2000-12-12' AS Date), N'1234567891')
SET IDENTITY_INSERT [dbo].[Users] OFF
USE [master]
GO
