USE [master]
GO
/****** Object:  Database [DBHotels]    Script Date: 14-01-2021 18:46:44 ******/
CREATE DATABASE [DBHotels]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBHotels', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DBHotels.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DBHotels_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DBHotels_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBHotels].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBHotels]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 14-01-2021 18:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Booking_Date] [datetime] NOT NULL,
	[Room_ID] [bigint] NOT NULL,
	[Status] [nvarchar](50) NULL CONSTRAINT [DF_Bookings_Status]  DEFAULT ('Optional'),
 CONSTRAINT [PK_Bookings] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Hotels]    Script Date: 14-01-2021 18:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotels](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[City] [nvarchar](50) NOT NULL,
	[Pincode] [nvarchar](25) NOT NULL,
	[Contact_Number] [nvarchar](50) NOT NULL,
	[Contatct_Person] [nvarchar](50) NOT NULL,
	[Website] [nvarchar](50) NOT NULL,
	[Facebook] [nvarchar](50) NOT NULL,
	[Twitter] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Created_Date] [date] NOT NULL,
	[Created_By] [nvarchar](50) NULL,
	[Updated_Date] [date] NOT NULL,
	[Updated_By] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Hotels] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 14-01-2021 18:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Category] [nvarchar](50) NULL,
	[Price] [money] NULL,
	[IsActive] [bit] NOT NULL,
	[Created_Date] [date] NULL,
	[Created_By] [nvarchar](50) NULL,
	[Updated_Date] [date] NULL,
	[Updated_By] [nvarchar](50) NULL,
	[Hotel_ID] [bigint] NULL,
 CONSTRAINT [PK_Rooms] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Rooms] FOREIGN KEY([Room_ID])
REFERENCES [dbo].[Rooms] ([ID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Rooms]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_Rooms_Hotel] FOREIGN KEY([Hotel_ID])
REFERENCES [dbo].[Hotels] ([ID])
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK_Rooms_Hotel]
GO
USE [master]
GO
